{% extends 'baseBack.html.twig' %}
{% extends 'baseBack.html.twig' %}
{% block page_title %}Admin Users{% endblock %}

{% block body %}
<div class="container">
    <h1>Admin Users</h1>
    {# Table or list of users goes here #}
</div>
{% endblock %}

{% block page_title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit User</h1>
    {# Form content goes here #}
</div>
{% endblock %}
